<html>
<head>
	<title>moimnyc</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand href" href="#">MOI'M</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-haspopup="true">ABOUT
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li>
							<a href="#">THE MISSION</a>
						</li>
						<li>
							<a href="#">THE CHRONICLE</a>
						</li>
						<li>
							<a href="#">THE TEAM</a>
						</li>
						<li>
							<a href="#">GET INVOLVED</a>
						</li>
					</ul>
				</li>
				<li><a href="#">EVENTS</a></li>
				<li><a href="#">PHOTOS & VIDEOS</a></li>
				<li><a href="#">BLOG</a></li>
				<li><a href="#">EXPRESS YOURSELF</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" role="button" aria-haspopup="true">THE COMMUNITY
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li>
							<a href="#">EXTERNAL EVENTS</a>
						</li>
						<li>
							<a href="#">CAREER BOARD</a>
						</li>
						<li>
							<a href="#">LOCAL HOTSPOTS</a>
						</li>
						<li>
							<a href="#">FREEBOARD</a>
						</li>
					</ul>
				</li>
				<li><a href="#">PRESS</a></li>
			</ul>
		</div>
	</div>
</nav>
<div id="welcomepage-background-image" class="background background-image" dataimgwidth="1800"></div>
<div id="welcomepage-whoweare-summary">
	<h3>Who We Are</h3>
	<p>MOI’M New York, Inc. (MOI’M) is a mission-driven 501(c)3 not-for-profit organization.</p>
	<p>Our mission is to bridge people, ideas, and opportunities to inspire new ways to connect with one another and the world around us.</p>
	<br><br>
</div>
<div id="welcomepage-featuredblogs-summary">
	<h3>Featured Blogs</h3>
	<p>Something from blog page</p>
	<br><br>
</div>
<div id="welcomepage-sponsors-summary">
	<h3>Sponsors</h3>
	<p>As distinguished collaborating entities that help our signature projects 	thrive, MOI’M Partners and Sponsors are well-represented
		across the financial, media, and product sectors.</p>
		<p> They are our supporters, assisting us to reach our fullest potential. Both Partners and Sponsors share our mission, objectives, and ultimate vision — without them, we could not have made it this far.
	</p>
	<br><br>
</div>
<footer class="footer">
	<h3>Contact Us</h3>
	<div class="footer-questions-email">
	<span>For questions or concerns, email us at&nbsp;</span><a href="mailto:info@moimnewyork.com">info@moimnewyork.com</a>
	</div>
	<div class="footer-questions-email">
	<span>For sponsorship opportunities, email us at&nbsp;</span><a href="mailto:sponsorship@moimnewyork.com">sponsorship@moimnewyork.com</a>
	</div>
	<div class="footer-questions-email">
	<span>For event ideas, email us at&nbsp;</span><a href="mailto:event@moimnewyork.com">event@moimnewyork.com</a>
	</div>
	<div class="footer-copyright">
		<span>Copyright 2015 MOI'M | All Rights Reserved |</span> <span>Terms of Use</span><span>|</span><span>Privacy Policy</span>
	</div>
</footer>
</body>
</html>