<!DOCTYPE html>
<html>
<head>
  <title>MOIMNYC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand href" href="#">MOI'M</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-haspopup="true">ABOUT
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li>
								<a href="#">THE MISSION</a>
							</li>
							<li>
								<a href="#">THE CHRONICLE</a>
							</li>
							<li>
								<a href="#">THE TEAM</a>
							</li>
							<li>
								<a href="#">GET INVOLVED</a>
							</li>
						</ul>
					</li>
					<li><a href="#">EVENTS</a></li>
					<li><a href="#">PHOTOS & VIDEOS</a></li>
					<li><a href="#">BLOG</a></li>
					<li><a href="#">EXPRESS YOURSELF</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" role="button" aria-haspopup="true">THE COMMUNITY
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li>
								<a href="#">EXTERNAL EVENTS</a>
							</li>
							<li>
								<a href="#">CAREER BOARD</a>
							</li>
							<li>
								<a href="#">LOCAL HOTSPOTS</a>
							</li>
							<li>
								<a href="#">FREEBOARD</a>
							</li>
						</ul>
					</li>
					<li><a href="#">PRESS</a></li>
				</ul>
			</div>
		</div>
	</nav>
<%= yield %>

</body>
</html>
